<div class="jumbotron">
  <h1>
    OmniFocus Perspectives<br>
    <small>Get some perspective!</small>
  </h1>
  
  <p>
    One of the key features of our favourite personal productivity tool, <a href="http://www.omnigroup.com/omnifocus">OmniFocus</a>, is the ability to create custom perspectives. These perspectives allow us to see a view on our trusted system that allows us to see the tasks and projects we need to see right now, while hiding away all the other distractions vying for our attention.
  </p>
  
  <p>
    There are many web sites, blog posts and twitter discussions talking about favourite perspectives, and how they're used. I thought it would be useful to collect and share them all in one place.
  </p>
</div>
