<%= div_for custom_contexts_perspective do %>
  <h2>
    <%= link_to custom_contexts_perspective.name, custom_contexts_perspective %>
    <small>Custom (Context)</small>
  </h2>

  <%= simple_format custom_contexts_perspective.description %>
<% end %>