<%= content_tag :div, perspective do %>
  <h2>
    <% if perspective.sidebar? %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <%= link_to perspective.title, perspective %>
  </h2>
  
  <p>
    <%= truncate perspective.description, length: 200, separator: "\n" %>
    <%= link_to 'Read more', perspective %>
  </p>
<% end %>